:root[data-theme='neon'] {
  color-scheme: dark;

  --color-bg: #020617;
  --color-surface: #020617;
  --color-surface-hover: #0f172a;

  --color-text: #e5e7eb;
  --color-text-muted: #9ca3af;

  --color-primary: #22d3ee;
  --color-primary-hover: #06b6d4;

  --color-accent: #f97316;
  --color-accent-hover: #ea580c;

  --color-border: #22d3ee;
}

